# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.vscode
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# React
2 - React Entendendo como a biblioteca funciona/ceep/build/
2 - React Entendendo como a biblioteca funciona/ceep/node_modules/
2 - React Entendendo como a biblioteca funciona/ceep/node_modules/.cache/.eslintcache
